#wp_popper_setting
{
    z-index: 20;
    margin-left: 56px;

    min-width: 220px;
    height: 250px;
    opacity: 1;
    left: 0px;
    bottom: 63px;

    position: absolute;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    z-index: 9999;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    border: 1px solid #d6dbe1;


}