.wp_detail_user_chat_popper
{
    z-index: 20;
    margin-left: 56px;

    min-width: 180px;
    height: 250px;
    opacity: 1;

    bottom: 63px;
    right:742px;
    position: fixed;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    z-index: 9999;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    border: 1px solid #d6dbe1;

    
}